{% extends 'base.html' %}
{% block activate_about%} active {% endblock activate_about%}
{% block title %}Home{% endblock title %}

{% block body %}
<div class="container ">
    <ul>
    <li>name : <strong>{{user.first_name}}</strong></li>
    <li>name : <strong>{{user.first_name}}</strong></li>
    <li>name : <strong>{{user.first_name}}</strong></li>
    <li>name : <strong>{{user.first_name}}</strong></li>
    <li>name : <strong>{{user.first_name}}</strong></li>
    <li>name : <strong>{{user.first_name}}</strong></li>
    </ul>
</div>
{% endblock body %}
