{% extends 'base.html' %}
{% block activate_Blogs%} active {% endblock activate_Blogs%}
{% block title %}Blogs | Home{% endblock title %}
{% block js %}
      <script>
     var script= document.createElement('script');
script.type='text/javascript';
script.src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js";
document.head.appendChild(script);

script.onload=function(){
tinymce.init({
    selector: "#add_content",
    height:450,
    plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
      menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
      },
      menubar: 'favs file edit view insert format tools table help',
      content_css: 'css/content.css'
    });
}
      </script>
      {% endblock js %}
      

{% block body %}
<form method='post' action='/blog/addPost'>
{% csrf_token %}
  <div class="form-group mx-2 my-3">
    <label for="title" ><strong>Title </strong> </label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title">
    <input type="hidden" name="postSno" value="{{post.sno}}">
  </div>
 
  <div class="form-group mx-2 my-3">
    <label for="content">Content</label>
    <textarea class="form-control" name="add_content" id="add_content" rows="10"></textarea>
  </div>
  <button type="Submit" class="btn btn-primary mx-2">Submit</button>
</form>
{% endblock body %}
